@media print {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    
    .not-print-item {
        visibility: hidden;
    }

    .print-text{
        color: black;
    }

}