@import "tailwindcss";

table {
  @apply w-full border-collapse;
}

.card-header {
  @apply text-lg font-semibold mb-2;
}

.fondo{
  min-height: 100vh;
  background: linear-gradient(to right, #1D4ED8, #065F46);
}

@media print{
  .fondo{
    background: none !important;
    background: whitesmoke;
  }
}